<div class="text-center">
  <table class="table table-striped">
          <thead>

              <th><h5>  <div class="text-center">Loan History</div></h5></th>
          </thead>

           <tbody>

              <tr>
                <th>name</th>
                <th>From account </th>
                <th>To account</th>
                <th>Amount</th>


              </tr>

             <tr *ngFor="let deorder of deorder">

             <td>{{deorder.name}}</td>
             <td>{{deorder.fromaccountno}}</td>
              <td>{{deorder.toaccountno}}</td>
              <td>{{deorder.money}}</td>



             </tr>

           </tbody>



  </table>
  </div>
