<p>wallettransaction works!</p>
<form #Registerform="ngForm" (ngSubmit)="WalletTransactionInsert()">
  <small [class.text-danger]="msg.status==500">{{msg.message}}</small>
  <div class="container">
    <h1>Add Amount in wallet</h1>
    <hr>

    <div>
    <label for="email"><b>From Account</b></label>
    <input type="email" placeholder="Enter your account number" name="email" (keyup)="InputOn($event.target.value)" [(ngModel)]="wallettrans.fromaccountno"  required
    #fromaccountno="ngModel" [class.is-invalid]="fromaccountno.invalid && fromaccountno.touched">
    <small class="text-danger" [class.d-none]="fromaccountno.valid || fromaccountno.untouched">your account number is required !!</small>
  </div>

  <div>
    <label for="email"><b>Your Wallet account number</b></label>
    <input type="email" placeholder="Enter your Wallet account number" name="email"  (keyup)="OnInput($event.target.value)"  [(ngModel)]="wallettrans.towalletaccountno"  required
    #towalletaccountno="ngModel" [class.is-invalid]="towalletaccountno.invalid && towalletaccountno.touched">
    <small class="text-danger" [class.d-none]="towalletaccountno.valid || towalletaccountno.untouched">Your Wallet account number is required !!</small>
  </div>

  <div>
    <label for="email"><b>Amount </b></label>
    <input type="email" placeholder="Enter amount to add" name="email" [(ngModel)]="wallettrans.money"  required
    #money="ngModel" [class.is-invalid]="money.invalid && money.touched">
    <small class="text-danger" [class.d-none]="money.valid || money.untouched">Amount is required !!</small>
  </div>

  <div>
    <!-- <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> -->
    <button [disabled]="Registerform.form.invalid" type="submit" class="btn btn-info">Submit</button>
    <small class="float-right btn btn-info"  [routerLink]="['/home']">Home</small>
  </div>
  </div>


</form>
