<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
    <div>


      <small class="float-right" [routerLink]="['/loan']">Loan</small><br>
      <small class="float-right" [routerLink]="['/loandata']">Loandata</small><br>
      <small class="float-right" [routerLink]="['/homeloaninsert']">homeloan</small><br>
      <small class="float-right" [routerLink]="['/homeloandata']">homeloandata</small><br>
      <small class="float-right" [routerLink]="['/wallet']">wallet</small><br>
      <small class="float-right" [routerLink]="['/addaccount']">addaccount</small><br>
      <small class="float-right" [routerLink]="['/account']">account</small><br>
      <small class="float-right" [routerLink]="['/adddebitorder']">adddebitorder</small><br>displaydebitorder
      <small class="float-right" [routerLink]="['/displaydebitorder']">displaydebitorder</small><br>
      <small class="float-right" [routerLink]="['/wallet']">wallet</small><br>walletdisplay
      <small class="float-right" [routerLink]="['/walletdisplay']">walletdisplay</small><br>
      <small class="float-right" [routerLink]="['/AddIntoWallet']">AddIntoWallet</small><br>
    </div>
  </header>
</div>
